<!DOCTYPE html">
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Création d'un design</title>
</head>
<body>
<div id="conteneur"style="background-color:#ffdddd"> 
<h1 id="header"><a style="color:#b66e6e" title="Premier Site Django" color="#ffdddd"><span>Mysite</span></a></h1>
<nav>
<ul style="background-color:#ffdddd" id="menu">
<li><a style="color:#885656" href="/magasin/"> Magasin</a></li>
<li><a style="color:#885656" href="/magasin/blog">Blog</a></li>
<li><a style="color:#885656" href="/admin">Admin</a></li> 
</ul>
</div>
</div>
</body>
</html>

</nav>
<div id="contenu">
